
language: python
sudo: false
cache:
  apt: true
  directories:
  - $HOME/.cache/pip
  - $HOME/download
python:
  - "3.5"
  - "3.6"
before_install:
  - pip install pip -U
  - pip install pytest -U
  - pip install pytest-cov -U
  - pip install codecov -U
install:
  - travis_retry pip install -e .
script:
  - travis_wait pytest --cov-config .coveragerc --cov-report html --cov=GPro
after_success:
  - codecov
cache:
    apt: true
    directories:
        - $HOME/.pip-cache